@import 'scss/arrows.scss';

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

td.pivoted{
  &.sort-pivoted-asc {
    .sort-none {
      @include arrow(top, #000, 5px);   
    }
  }
  &.sort-pivoted-desc {
    .sort-none {
      @include arrow(bottom, #000, 5px);   
    }
  }
  &.sort-pivoted-asc, &.sort-pivoted-desc {
    .sort-none {
      @include hide-text();
      margin: 2px 0 2px 4px;
      display: inline-block;
    }
  }
  ul {
    padding-left: 20px;
  }
}

.sort-asc{
    @include arrow(top, #000, 5px);   
}

.sort-desc{
    @include arrow(bottom, #000, 5px);   
}

.sort-asc, .sort-desc{
  @include hide-text();
  margin: 2px 0 2px 4px;
  display: inline-block;
}

@media (min-width: 60em) {
  .pull-right-desktop {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
}

@media (max-width: 60em) {
  .align-center-mobile {
    -ms-flex-pack: center!important;
    justify-content: center!important;
  }
}